@import url('https://fonts.googleapis.com/css?family=Raleway');
@import "./components/Scss/variables";
@import "./components/Scss/bootstrap_custom";

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Raleway;
}
span
{
  color: $yellow;
}
.texth2
{
  top: 350px;
  left: 540px;
  height: 8%;
}
.eventtext {
  top: 150px;
  left: 15px;
  height: 10%;
}
.img
{
  width: 15%;
  height: 15%;
}
.etext
{
  background-color: $yellow;
  text-align: center;
  margin-left: -15px;
  
}
.shoplist
{
  background-color: $yellow;
  margin-left: 0px;
  height: 600px;
  margin-left: -15px;
}
ul{
  list-style-type: none;
}
.shopsec
{
  bottom: 410px;
  left: 377px;
  
}
.contacttext
{
  background-color: $yellow;
  top: 175px;
}
.shoeinfo
{
  width: 350px;
  height: 350px;
}
.products
{
  flex-wrap: wrap;
  margin-left: 130px;
  img{
    width: 100%
  }
  .product
  {
    width: 30%;
  }
}
.shoe-list
{
  margin-top: 15%;
}
.menu
{
  margin: 0;
}
.imgevnets
{
  margin-left: -15px;
}

.map-sec
{
  margin-left: -15px;
}

@media (max-width: 1198px){
  .texth2 {
    left: 200px;
    height: 9%;
    text-align: center;
  }
  .shopsec {
    bottom: 570px;
    left: 50px;
}
}

@media (max-width: 992px){
  .shop
  {
    display: block !important ;
    text-align: center;
  }
  .shopsec {
    bottom: 550px;
    left: 50px;
}
.shoplist {
  text-align: center !important ;
  height: 380px;
  margin-left: 0px;
}
.menu {
  margin: 40px;
}
.texth2 {
  left: 200px;
  height: 13%;
  text-align: center;
}
.etext
{
  margin-left: 0px;
}
.map-sec
{
  margin-left: 0 !important;
}

}


@media (max-width: 768px){
  .footer
  {
    display: block !important ;
  }
  .shop
  {
    display: block !important ;
    text-align: center;
  }
  .shoplist {
    text-align: center !important ;
    height: 380px;
    margin-left: 0px;
  }
  .shopsec {
    bottom: 515px;
}
.products {
  flex-wrap: wrap;
  margin-left: 50px;
}
.menu {
  margin: 40px;
}
.eventtext {
  top: 60px;
  left: 15px;
  height: 19%;
}
.etext
{
  margin-left: 0px;
}
.texth2 {
  left: 56px;
  height: 20%;
  text-align: center;
  top: 140px;
  width: 75% !important;
}
.map-sec
{
  margin-left: 0 !important;
}

}


@media (max-width: 576px){
  .footer
  {
    display: block !important ;
  }

  .shop
  {
    display: block !important ;
    text-align: center;
  }

  .shoplist {
    text-align: center !important ;
    height: 380px;
    margin-left: 0px;
  }
  .products {
    flex-wrap: wrap;
    margin-left: 50px;
}
.shopsec {
  bottom: 515px;
}
.menu {
  margin: 0px;
}
.eventtext {
  top: 60px;
  left: 15px;
  height: 19%;
}
.etext
{
  margin-left: 0px;
}
.texth2 {
  left: 56px;
  height: 20%;
  text-align: center;
  top: 140px;
  width: 75% !important;
}
.map-sec
{
  margin-left: 0 !important;
}

}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/