@import url('https://fonts.googleapis.com/css?family=Raleway');
@import "./components/Scss/variables";
@import "./components/Scss/bootstrap_custom";

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Raleway;
}
span
{
  color: $yellow;
}
.texth2
{
  top: 400px;
  left: 932px;
  height: 15%;
}
.eventtext {
  top: 150px;
  left: 15px;
  height: 10%;
}
.img
{
  width: 15%;
  height: 15%;
}
.col-3
{
  background-color: $yellow;
  padding-top: 5%;
  margin-left: -15px;
}
.shoplist
{
  background-color: $yellow;
  margin-left: 0px;
  padding-top: 5%;
  height: 600px;
}
ul{
  list-style-type: none;
}
.shopsec
{
  bottom: 410px;
  left: 391px;
}
.contacttext
{
  background-color: $yellow;
  top: 175px;
}
.shoeinfo
{
  width: 350px;
  height: 350px;
}
.products
{
  flex-wrap: wrap;
  margin-left: 130px;
  img{
    width: 100%
  }
  .product
  {
    width: 33%;
  }
}
.shoe-list
{
  margin-top: 15%;
}
.menu
{
  margin: 0;
}
.map-sec
{
  margin-left: -15px;
}

